.topbar {

	& > div {
		align-items: center;
	}

	a {
		color: rgba(#fff, .5);
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;

		&:hover,
		&.active {
			color: rgba(#fff, 1);
		}
	}
}